img {
    margin-bottom: 100px;
    margin-left: 25px;
}

p {
    padding-left: 20px;
    background-color: lightslategrey;
}

p.wow {
    background-color: green;
    font-size: 22px;
}

#who { 
    color: white;
}